<!DOCTYPE html>
<html>
  <head>
    <title>GoalsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header><h1>Goaling App</h1></header>


  <body>

    <div>
      <% if logged_in? %>
        <h3>Welcome, <%= current_user.username %></h3>
        <form action="<%=session_url%>" method="POST">
          <%= auth_token%>
          <input type="hidden" name="_method" value='delete'>
          <input type="submit" value="Logout">
        </form>
      <% else %>
        <a href="<%= new_user_url %>">Sign up!</a>
        <a href="<%= new_session_url %>">Log in!</a>
      <% end %>

    </div>

    <%= yield %>
  </body>
</html>
