<ul>
  <% @cats.each do |cat| %>
    <li><%= cat.birth_date %></li>
    <li><%= cat.color %></li>
    <li><%= cat.name %></li>
    <li><%= cat.sex %></li>
    <li><%= cat.description %></li>
    <br>
    <br>
  <% end %>

</ul>